.wrapper {
  display: flex;
  gap: 5px;
  padding: 10px 0px;
}

.progress-bar {
  width: 100%;
  max-width: 200px;
}

.progress-bar progress {
  width: 100%;
  background-color: #01a917;
  height: 2px;
}
